<div class="chat-container">
  <header>
    <nav>
      <a href="/home">Inicio</a>
      <a href="/perfil">Perfil</a>
      {{#if isAdmin}}
        <a href="/admin-users">Administración de usuarios</a>
      {{/if}}
      <a href="/api/sessions/logout">Cerrar sesión</a>
    </nav>
  </header>

  <h1 class="chat-title"> Sala de Chat</h1>

  <div id="messageLogs" class="message-logs"></div>
  <input
    type="text"
    id="chatbox"
    class="chat-input"
    placeholder="Ingrese su mensaje"
  />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</div>