<h1>Reestablecer contrase침a</h1>

<p>Ingresa tu correo electr칩nico para reestablecer tu contrase침a</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="Correo electr칩nico" name="email">
    <br>
    <br>
    <button>Reestablecer</button>
</form>