<div class="forgot-password-container">
  <h1 class="forgot-password-title">Reestablecer contrase침a</h1>

  <p class="forgot-password-instructions">Ingresa tu correo electr칩nico para reestablecer tu contrase침a</p>
  <form method="post" action="/api/sessions/forgot-password" class="forgot-password-form">
    <input type="email" placeholder="Correo electr칩nico" name="email" class="forgot-password-input">
    <button class="forgot-password-button">Reestablecer</button>
  </form>

  <a href="/" class="forgot-password-back-link">Volver al inicio</a>
</div>
