<header>
  <nav>
    <a href="/home">Inicio</a>
    <a href="/chat">Sala de chat</a>
    {{#if isAdmin}}
    <a href="/admin-users">Administración de usuarios</a>
    {{/if}}
    <a href="/api/sessions/logout">Cerrar sesión</a>
    <style>
        #cart-link {
            display: none;
        }
    </style>
    <a href="/cart/{{cartId}}" id="cart-link">Ver mi carrito</a>
  </nav>
</header>

<h1 class="profile-title">Pagina de Perfil</h1>
<p class="error-message">{{error}}</p>
<div class="welcome-message">
  Bienvenido {{user.first_name}}<br />
  Correo: {{user.email}}
</div>

<script src="/js/updateCartLink.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const cartLink = document.getElementById('cart-link');
        const cartId = localStorage.getItem('cartId');

        if (cartLink) {
            if (cartId) {
                cartLink.style.display = 'inline'; 
                cartLink.setAttribute('href', `/cart/${cartId}`);
            } else {
                cartLink.style.display = 'none'; 
            }
        }
    });
</script>
