<div class="reset-password-container">
  <h1 class="reset-password-title">Cambiar tu contraseña</h1>

  <form action="/api/sessions/reset-password?token={{token}}" method="post" class="reset-password-form">
    <input type="password" name="newPassword" placeholder="Nueva contraseña" class="reset-password-input">
    <button class="reset-password-button">Restablecer contraseña</button>
  </form>
</div>
